:root {
  --dark-purple: #4e2954;
  --light-purple: #910091;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../public/glamorous.svg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 20px;
  background: var(--dark-purple);
  max-width: 1000px;
  min-height: 50vh;
  padding: 5vh 0 5vh 0;
  margin: 0.5rem 0.5rem;
  text-align: center;
}

.main-header {
  color: white;
  padding: 20px 40px 20px 20px;
  margin: 0 2px 0 2px;
  font-size: 1.5em;
}

main p {
  color: white;
  padding: 3% 15%;
  margin-top: 2rem; 
}

main a {
  color: rgb(6, 196, 238);
}